.MuiPaper-root.MuiPaper-elevation.work-experience-paper {
  width: 75%;
  padding: 40px;
  margin-right: 0px;
  height: fit-content;
}

.work-experience-heading {
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.add-new-btn-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1010px) {
  .MuiPaper-root.MuiPaper-elevation.work-experience-paper{
    width: 100%;
    padding: 30px;
    
  }
}
@media screen and (min-width: 1010px) and (max-width: 1300px) {
  .MuiPaper-root.MuiPaper-elevation.work-experience-paper{
    width: 90%;
    padding: 40px;

  }
}
@media screen and (max-width: 450px) {
  .education-form-cont {
    grid-template-columns: 1fr;
    
  }
}